html {
  font-family: "Monserrat", sans-serif;
}

h2 {
  margin: 3% 1% 4% 1%;
  font-size: 4em;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #55b6b6;
  color: #3d8585;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-form {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input {
  width: 30%;
  height: 40px;
  border: solid rgb(108, 108, 108) 1px;
  border-radius: 15px;
  outline: none;
}

.submit {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #55b6b6;
  color: white;
  font-size: 1.2rem;
}

.submit:hover {
  cursor: pointer;
  box-shadow: 2px 2px 8px rgb(139, 139, 139);
}

.list-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 1% 3%;
}

.list-content {
  padding: 3% 5%;
  border: solid #55b6b6 10px;
  border-radius: 50px;
  margin: 20px auto;
  width: 80%;
  height: 800px;
}

.list-content-completed {
  padding: 3% 5%;
  border: solid #55b67f 10px;
  background-color: #55b67f;
  border-radius: 50px;
  margin: 20px auto;
  width: 20%;
  height: 800px;
  font-size: 3rem;
  text-align: center;
}

.todo {
  text-align: left;
  list-style-type: none;
  border-bottom: solid rgb(188, 188, 188) 2px;
  margin: 2% 0;
  padding: 1% 3%;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.check {
  border: none;
  border-radius: 5px;
  text-decoration: line-through;
  animation: check 0.4s;
  transition: text-decoration 1s;
  text-align: center;
}

@keyframes check {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
  .list-content {
    width: 50%;
  }

  .list-content-completed {
    width: 50%;
    font-size: 2em;
  }
}
