@font-face {
  font-family: standingTitle;
  src: url(../assets/Font/platinum_sign/Platinum\ Sign.ttf);
}

@font-face {
  font-family: username;
  src: url(../assets/Font/gameplay/Gameplay.ttf);
}
