body {
  width: 100%;
  margin: 0;
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  padding: 0;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #ffab2c;
  gap: 30px;
}

.navbar-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 10px;
  color: #fff;
}

.navbar-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar-search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-input {
  display: flex;
  align-items: center;
  width: 200px;
  height: 20px;
  border: solid black 1px;
  border-radius: 8px;
  outline: none;
}

.submit-input {
  background-color: #fff275;
  height: 20px;
  border: none;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.submit-input:hover {
  box-shadow: 3px 3px 10px black;
  transition: 0.35s;
}

.navbar-account {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: rgb(255, 255, 255);
  gap: 20px;
}

.navbar-account li {
  cursor: pointer;
}

/* HERO */

.hero {
  margin-top: 70px;
  display: flex;
  width: 100%;
  height: 300px;
  background-image: url(https://cdn.pixabay.com/photo/2017/11/27/21/31/computer-2982270_960_720.jpg);
}

.img1,
.img2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  filter: grayscale(0);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  color: #ffffff;
  padding: 2%;
  background-color: #0a0a0a9a;
  border-radius: 10px;
}

.button-hero {
  background-color: #fff275;
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.button-hero:hover {
  box-shadow: 3px 3px 10px black;
  transition: 0.35s;
}

/* Prodotti */

.products-title {
  text-align: center;
  font-size: 2.5em;
}

#main {
  margin: 0 3% 5% 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.product-container {
  border-radius: 10px;
  padding: 1%;
  max-width: 200px;
  background-color: #ffab2ca4;
}

.product-container:hover {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.349);
  transition: 0.35s;
  cursor: pointer;
}

.product-container img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.buy-button {
  display: flex;
  align-items: flex-end;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
}

.buy-button:hover {
  background-color: #ffab2c;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.349);
  transition: 0.35s;
  cursor: pointer;
}

/* Esercizio avanzato */
.hidden-row {
  display: none;
}

.show-row {
  display: block;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 0 2% 0;
}

.filter-btn {
  background-color: #fff275;
  height: 20px;
  border: none;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.filter-btn:hover {
  box-shadow: 2px 2px 5px black;
  transition: 0.35s;
}
