@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@import "./normalize.css";
@import "./variables.css";
@import "./header.css";
@import "./mediaQuery.css";
@import "./mainContent.css";
@import "./sidebar.css";

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-black);
}

.main-container {
  margin: 0;
  max-width: 1440px;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 0 3% 0 3%;
}
